html {
  /* scroll-behavior: smooth; */
  background-color: #eeeeee !important;
  font-family: "Montserrat" !important;
  color: #000000 !important;
  scrollbar-color: "#eee" #e0e0e0;
  scrollbar-width: thin;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100% !important;
  overflow: hidden;
  background-color: #eeeeee !important;
}




/* .scroll {
  width: 100vw; 
  height: 50vh;
    overflow: scroll;
  overflow-x: hidden;
} */

.contentLogin {
  margin-top: 0px;
  padding: 0%;
  float: left;
  width: 100%;
  background-color: #eeeeee !important;
  /* background-image: url("../src/assets/img/bg.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.panelContainer {
  margin: 0px !important;
  padding: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  margin-top: 0% !important;

}

.navbar {

  background: linear-gradient(0deg, #7DBA30, #595);

  min-height: 30px !important;
  /* height: 50px; */
  align-items: center;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

.navLogoImg {

  /* transform: translateX(-50%);
  left: 50%;
  position: absolute; */
  top: 7px;
}

.navLogoImgMenu {
  height: 30px;
  min-height: 30px;
  padding: 0 !important;
  margin: 0 !important;
}

/* 
.navMenuLeft {
 background-size: "0" !important;
 background-color: "#001f51"  !important
       

} */


.navbarError {
  background: linear-gradient(0deg, #ee7d64, rgb(242, 64, 64));
  min-height: 30px !important;
  /* min-height: 70px !important;
  height: 70px; */
  align-items: center;
  vertical-align: middle;
}


.navLogoImg {
  width: 150px;
  margin-left: 15px;
}



.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  color: #bbb !important;

  cursor: pointer !important;
}

.nav-link {
  cursor: pointer !important;
  color: #fff !important;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.navbar-toggler1 {
  color: transparent !important;
  background-color: transparent !important;
  border: none;
  margin-left: 15px;
  float: left;
  margin-right: 0px;
}

.navbar-toggler1:hover {
  color: transparent !important;
  background-color: transparent !important;
  border: 0px solid #eee;
}

/* .navbar-toggler1 .navbar-toggler-icon {
  background-color: #f8f8f8;
  position: relative;
  margin: 8px 0;
  font-size: 50pt;
  border: 0 !important;
} */
/* 
.navbar-toggler1:hover {
  color: transparent !important;
  background-color: transparent !important;
  border: 0px solid #eee;
} */

.navbar-toggler1 .navbar-toggler-icon {
  background-color: transparent !important;
  position: relative;
  color: white !important;
  margin: 8px 0;
  font-size: 15pt;
  border: 0 !important;
}


.text9 {
  font-family: "Montserrat", sans-serif;
  font-size: 9px !important;
}

.text10 {
  font-family: "Montserrat", sans-serif;
  font-size: 10px !important;
}

.text12 {
  font-family: "Montserrat", sans-serif;
  font-size: 12px !important;
}

.text14 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px !important;
}

.text16 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px !important;
}

.text18 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px !important;
}


.text9Bold {
  font-family: "Montserrat Black", sans-serif;
  font-weight: 700 !important;
  font-size: 9px !important;
}

.text10Bold {
  font-family: "Montserrat Black", sans-serif;
  font-weight: 700 !important;
  font-size: 10px !important;
}

.text12Bold {
  font-family: "Montserrat Black", sans-serif;
  font-weight: 700 !important;
  font-size: 12px !important;
}

.text14BOld {
  font-family: "Montserrat Black", sans-serif;
  font-weight: 700 !important;
  font-size: 14px !important;
}

.text16Bold {
  font-family: "Montserrat Black", sans-serif;
  font-weight: 700 !important;
  font-size: 16px !important;
}

.text18Bold {
  font-family: "Montserrat Black", sans-serif;
  font-weight: 700 !important;
  font-size: 18px !important;
}

.textTachado {
  text-decoration: line-through;
  color: green;
}

.textAzul {
  color: #80bc00 !important;
}

.textBold {
  font-weight: bold !important;
}

.monserratbold {
  font-family: "Montserrat Black", sans-serif;
  font-weight: 700;
}

.monserrat {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #000;
}

.col {
  padding: 0 !important;
  margin: 0 !important;
 
}

.row {
  padding: 0 !important;
  margin: 0 !important;
 
 
}
.tableData {
  border: 1px solid #ccc;
}

.panelLeft {
  border: 5px solid red; 
  padding: 0 !important;
  margin: 0p !important;
  width: 100% !important;
  
}


.panelRight {
  border: 5px solid orange;
  padding: 0px;
  margin: 0px;
}

.panelTop {
  padding: 0px;
  margin: 0px;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  flex: 1;
}



.rowSearch {
  border: 1px solid #fff;
  background: linear-gradient(0deg, #7DBA30, #595);
  border-radius: 8px;
  color: #fff;
  padding: 0px;
  margin: 0px;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0%;
  margin-bottom: 1%;
  align-items: center;
  padding-left: 5px !important;
  padding-right: 5px !important;

}

.rowOptions {
  border-bottom: 2px solid #ccc;
  background-color: white;
  color: #fff;
  padding: 0%;
  padding-left: 0%;
  margin: 0px;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;


}

.rowMetrica {
  margin: 0px;
  padding: 8px;
}

.rowMetricas {
  border-bottom: 2px solid #ccc;
  background-color: white;
  color: #fff;
  padding: 0.5%;
  padding-left: 2%;
  margin: 0;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  align-items: center;
  justify-content: center;
  text-align: center;
   min-height: 60;
 }


.colLeftMetricaTop {
  background-color: green !important;
  color: #fff !important;
 }



.colLeftMetrica {
  border: 1px solid #ccc;
  background-color: #eee;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 3px;
  margin: 0px;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  align-items: center !important;
  justify-content: center !important;
  align-content: center !important;
  text-align: center;
  font-family: "Montserrat" !important;
  color: #000;
}

.colRightMetrica {
  border: 1px solid #ccc;
  background-color: white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 3px;
  margin: 0px;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  align-items: center !important;
  justify-content: center !important;
  align-content: center !important;
  text-align: center;
  font-weight: 500;
  font-family: "Arial" !important;
  color: #000;
}

.colRightMetricaDato {
  border: 1px solid #ccc;
  background-color: white;
  padding: 3px;
  margin: 0px;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  align-items: center !important;
  justify-content: center !important;
  align-content: center !important;
  text-align: center !important;
  font-weight: 500;
  font-family: "Arial" !important;
  color: #000;
}

.colLeftMetricaDato {
  border: 1px solid #ccc;
  background-color: #eee;
  padding: 3px;
  margin: 0px;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  align-items: center !important;
  justify-content: center !important;
  align-content: center !important;
  text-align: center;
  font-family: "Montserrat" !important;
  color: #000;
}

.colRightMetricaCheck {
  border: 1px solid #ccc;
  /* Add some styling */
  background-color: white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 0px;
  margin: 0px;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  align-items: center !important;
  justify-content: center !important;
  align-content: center !important;
  text-align: center;
  font-weight: 500;
  font-family: "Arial" !important;
  color: #000;
  text-align: center !important;
}

.colRightMetricaCheckDato {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
 
 
}
.colRightMetricaProgressBar {
  border: 1px solid #ccc;
  /* Add some styling */
  background-color: white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 3px;
  margin: 0px;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  flex: 1;
  align-items: center !important;
  justify-content: center !important;
  align-content: center !important;
  text-align: center;
  font-weight: 500;
  font-family: "Arial" !important;
  color: #000;
}

.colRightMetricaRojo {
  background-color: red;
}

.footer {
  padding: 0 !important;
  margin: 0 !important;
  background: linear-gradient(0deg, #7DBA30, #595);
  bottom: 0;
  color: #fff;
  position: fixed;
  width: 100% !important;
  z-index: 10;
}

.iconBlue {
  color: #001f51;
}

.iconGreen {
  color: green;
  cursor: "help" !important;
}

.iconGrey {
  color: grey;
  cursor: "help" !important;
}

.btn-logout {
  background-color: #f8f8f8 !important;
  border-radius: 4px !important;
  font-family: "Montserrat";
  font-size: 12px !important;
  color: #001f51 !important;
  padding-left: 10% !important;
  padding-right: 10% !important;
  padding-top: 2% !important;
  padding-bottom: 2% !important;
  text-transform: uppercase;
  align-items: center;
  vertical-align: auto;
}

.offcanvas-header .btn-close {
  background-color: #fff !important;
  opacity: 100%;
  font-family: "Montserrat";
  font-size: 12pt !important;
  color: #fff !important;
}

.offcanvas-header .btn-close:hover {
  opacity: 70%;
}

.btn-logout:hover,
.btn-logout:active,
.btn-logout:focus {
  opacity: 0.8 !important;
}

.react-confirm-alert-button-group button {
  background-color: #80bc00 !important;
  border-radius: 4px !important;
  font-family: "Montserrat";
  font-size: 10px !important;
  color: #fff !important;
  padding-left: 10% !important;
  padding-right: 10% !important;
  padding-top: 2% !important;
  padding-bottom: 2% !important;
  border: 1px solid #eee !important;
}

.react-confirm-alert-button-group button:hover,
.react-confirm-alert-button-group button:active,
.react-confirm-alert-button-group button:focus {
  opacity: 0.7 !important;
  /* background-color: rgb(0, 31, 81, 0.8) !important; */
}

.navbaritem {
  padding-left: "2%";
}

.loginForm {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 5%;
  border: 1px solid #001f51;
}

.formlabel {
  font-family: "Montserrat" !important;
  font-size: 12pt !important;
  color: #000;
  font-weight: bold !important;
}

.formInput {
  font-family: "Montserrat", sans-serif !important;
  font-size: 12px !important;
  color: #000 !important;
  border: 0;

}

.form-control-input-text {
  background-color: white !important;
  border: 1px solid #ccc !important;
  font-family: "Montserrat" !important;
  font-size: 10pt;
  padding: 5px !important;
}

.form-control-input-text:hover,
.form-control-input-text:active,
.form-control-input-text:focus {
  background-color: red;
  box-shadow: #595;
}

.btn-custom-start {
  background-color: green !important;
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;

}

.btn-custom-start :hover,
.btn-custom-start:active {
  opacity: 0.4 !important;

}


.btn-custom-stop {
  background-color: rgb(218, 28, 28) !important;
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.btn-custom-stop :hover,
.btn-custom-stop:active {
  opacity: 0.4 !important;

}


.btn-custom-disabled {
  background-color: rgb(128, 126, 126) !important;
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.btn-custom-disabled :hover,
.btn-custom-disabled:active {
  opacity: 0.4 !important;
}

.btn-custom-close {
  background-color: transparent !important;
  width: 30px;
  height: 30px;
   border: 0px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

.btn-custom-close :hover,
.btn-custom-close:active {
  color: #000;

}


.btn-custom {
  background-color: #80bc00 !important;
  border-radius: 4px !important;
  font-family: "Montserrat";
  font-size: 12pt !important;
  color: #fff !important;
  padding-left: 3% !important;
  padding-right: 3% !important;
  padding-top: 1% !important;
  padding-bottom: 1% !important;
  border: 1px solid #eee !important;
  vertical-align: middle;
  align-items: center;

}

.btn-custom:hover,
.btn-custom:active,
.btn-custom:focus {
  opacity: 0.8 !important;
}


.btn-custom_opciones {
  background-color: #80bc00 !important;
  border-radius: 10px !important;
  font-family: "Montserrat";
  font-size: 12pt !important;
  color: #fff !important;
  padding:2% !important;
  border: 1px solid #eee !important;
  vertical-align: middle;
  align-items: center;
  width: 40px !important;

}

.btn-custom_opciones:hover,
.btn-custom_opciones:active,
.custom_opciones-custom:focus {
  opacity: 0.8 !important;
}

.iconStop {
  -webkit-animation: capulse 1s infinite linear
}


.form-check-input {
  background-color: #eee !important;
  background-image: url("data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27><circle r=%273%27 fill=%27%23666%27/></svg>") !important;
}

.form-check-input:checked {
  background-color: #eee !important;
  border-color: #6668 !important;
  background-image: url("data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27><circle r=%273%27 fill=%27%237DBA30%27/></svg>") !important;
}



.form-check-input:focus {

  border-color: #6668 !important;
  outline: 0;
  box-shadow: none !important;
}

.form-control:focus {
  border-color: green !important;
  outline: 0;
  box-shadow: none !important;
  font-weight: bold;
}

.form-control:hover {
  border-color: green !important;
  outline: 0;
  box-shadow: none !important;
}

.bg-progressbar {
  background-color: #7DBA30 !important;
}


.editor-wrapper {
  border: 0px solid #c4cdd5;
  width: 100%;
  max-height: 300px;
  padding-bottom: 5;
  margin-bottom: 8%;
  color: #000;
  font-family: "Montserrat" !important;
  font-size: 12pt !important;
}


.message-editor {
  background-color: rgb(0, 31, 81, 0.05);
  height: auto;
  padding: 6px;
  color: #000;
  font-family: "Montserrat" !important;
  font-size: 10pt !important;
}

.titleEditor {
  font-family: "Montserrat" !important;
  font-size: 18pt !important;
  color: #fff;

}

.headEditor {
  background: linear-gradient(0deg, #7DBA30, #595);
}


/* .message-toolbar {
  border-bottom: 1px solid #c4cdd5;
  margin-bottom: 0px;
  padding: 0px 0px;
  width: 100%;
  margin: 0px;
} */

div.DraftEditor-root {
  border: 1px solid #C0C0C0;
  height: 300px;
  width: auto;
  overflow-y: auto;
}

div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  height: 100%;
}

.alertaRoja {color: 'red'; background-color: 'red';}



.rowAlarma {
  border: 1px solid #ccc;
  background-color: rgb(242, 64, 64);
  border-radius: 8px;
  padding: 3px;
  margin: 0px;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  align-items: center !important;
  justify-content: center !important;
  align-content: center !important;
  text-align: center;
  font-family: "Montserrat" !important;
  color: #fff;
}


@media only screen and (max-device-width: 640px) {
  body {
   overflow: visible;

}

.loginForm {
    width: 90%;
  }

  .formlabel {
    font-family: "Montserrat" !important;
    font-size: 9pt !important;
    color: #000;
    font-weight: bold !important;
  }
}
  
@media only screen and (max-device-width: 768px) {
  body {
    overflow: visible;
  }
  .loginForm {
      width: 90%;
      }

      .formlabel {
        font-family: "Montserrat" !important;
        font-size: 9pt !important;
        color: #000;
        font-weight: bold !important;
      }
}

