html {
  /* scroll-behavior: smooth; */
  background-color: #eeeeee !important;
  font-family: "Montserrat" !important;
 color: #000000 !important;
}

body {
  background-color: #eeeeee !important;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 31, 81, 0.7) !important;
  border-radius: 4px;
  max-height: 5px;
}

.text9 {
  font-family: "Montserrat", sans-serif;
   font-size: 9px !important;
}

.text10 {
  font-family: "Montserrat", sans-serif;
  font-size: 10px !important;
}

.text12 {
  font-family: "Montserrat", sans-serif;
   font-size: 12px !important;
}

.text14 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px !important;
}

.text16 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px !important;
}

.text18 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px !important;
}


.text9Bold {
  font-family: "Montserrat Black", sans-serif;
  font-weight: 700 !important;
  font-size: 9px !important;
}

.text10Bold {
  font-family: "Montserrat Black", sans-serif;
  font-weight: 700 !important;
  font-size: 10px !important;
}

.text12Bold {
  font-family: "Montserrat Black", sans-serif;
  font-weight: 700 !important;
  font-size: 12px !important;
}

.text14BOld {
  font-family: "Montserrat Black", sans-serif;
  font-weight: 700 !important;
  font-size: 14px !important;
}

.text16Bold {
  font-family: "Montserrat Black", sans-serif;
  font-weight: 700 !important;
  font-size: 16px !important;
}

.text18Bold {
  font-family: "Montserrat Black", sans-serif;
  font-weight: 700 !important;
  font-size: 18px !important;
}

.textTachado {
  text-decoration: line-through;
  color: green;
}

.textAzul {
  color: #80bc00 !important;
}

.textBold {
  font-weight: bold !important;
}

.monserratbold {
  font-family: "Montserrat Black", sans-serif;
  font-weight: 700;
}

.monserrat {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #000;
}

.contentLogin {
  margin-top: 70px;
  padding: 0%;
  float: left;
  width: 100%;
  background-color: #eeeeee !important;
  /* background-image: url("../src/assets/img/bg.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.panelContainer { 
 margin-top: 40px !important;
  padding-top: 2.5% !important;
  width: 100% !important;
    height: 100% !important;
  padding-bottom: 100px;
  background-color: #eeeeee !important; 

  /* display: flex; /* Use flexbox layout */  
  /* justify-content: space-between;  */
} 

.tableData { 
  border: 1px solid #ccc; 
 
} 


.panelLeft { 
  /*border: 1px solid #ccc;  Add some styling */ 
  padding: 0px; 
  margin: 0px; 
  flex: 1; /* Allow components to grow equally */ 
} 


.panelRight { 
  /*border: 1px solid #ccc;  Add some styling */ 
  padding: 0px; 
  margin: 0px; 
  flex: 1; /* Allow components to grow equally */ 
} 

.panelTop { 
  
  padding: 0px; 
  margin: 0px; 
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 1%;
  flex: 1;


} 

.rowMetrica { 
  /* border: 1px solid #fff; 
background-color: green;
border-radius: 75px;
color:#fff; */
  padding: 5px; 
  margin: 0px; 
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 1%;



} 

.rowSearch { 
border: 1px solid #fff; 

background: linear-gradient(0deg, #7DBA30, #595);
border-radius: 8px;
color:#fff;
  padding: 5px; 
  margin: 0px; 
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0%;
  margin-bottom: 1%;
  align-items: center;



} 


.rowOptions { 
  border: 1px solid #fff; 
 
  background: linear-gradient(0deg, #7DBA30, #595);
  border-radius: 8px;
  color:#fff;
    padding: 5px; 
    margin: 0px; 
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    margin-bottom: 1%;
    align-items: center;
  
  
  
  } 

.colLeftMetrica {  
  border: 1px solid white; /* Add some styling */ 
  background-color: green;
  border-top-left-radius:8px;
  border-bottom-left-radius:8px;
  
  padding: 5px; 
  margin: 0px; 
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 1%;

  align-items: center !important;
  justify-content: center !important;
  align-content: center !important;
  text-align: center;
  font-family: "Montserrat" !important;
  color:#fff;
  }

.colRightMetrica {
  border: 1px solid #fff; /* Add some styling */ 
  background-color: white;
  border-top-right-radius:8px;
  border-bottom-right-radius:8px;
  padding: 5px; 
  margin: 0px; 
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 1%;
  flex: 1;
  align-items: center !important;
  justify-content: center !important;
  align-content: center !important;
  text-align: center;
  font-weight: 500 ;
  font-family: "Arial" !important;
  color:#000;

}

.footer {
  padding: 0 !important;
  margin: 0 !important;
  background: linear-gradient(0deg, #7DBA30, #595);
  bottom: 0;
  color: #fff;
  position: fixed;
  width: 100% !important;
  z-index: 10;

  
}

.iconBlue {
  color: #001f51;
}

.iconGreen {
  color: green;
  cursor: "help" !important;
}

.iconGrey {
  color: grey;
  cursor: "help" !important;
}

 .navbar {

  background: linear-gradient(0deg, #7DBA30, #595);
  min-height: 50px !important;
  /* min-height: 70px !important;
  height: 70px; */
  align-items: center;
  vertical-align: middle;
}

.navLogoImg {
  width: 150px;
  margin-left: 15px;
}



.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  color: #bbb !important;

  cursor: pointer !important;
}

.nav-link {
  cursor: pointer !important;
  color: #fff !important;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

 .navbar-toggler1 {
  color: transparent !important;
  background-color: transparent !important;
  border: none;
  margin-left: 15px;
  float: Right;
  margin-right: 0px;
} 

 .navbar-toggler1:hover {
  color: transparent !important;
  background-color: transparent !important;
  border: 0px solid #eee;
}

.navbar-toggler1 .navbar-toggler-icon {
  background-color: transparent !important;
  position: relative;
  color: white !important;
  margin: 8px 0;
  font-size: 15pt;
  border: 0 !important;
} 



.react-confirm-alert-button-group button {
  background-color: #80bc00 !important;
  border-radius: 4px !important;
  font-family: "Montserrat";
  font-size: 10px !important;
  color: #fff !important;
  padding-left: 10% !important;
  padding-right: 10% !important;
  padding-top: 2% !important;
  padding-bottom: 2% !important;
  border: 1px solid #eee !important;
}

.react-confirm-alert-button-group button:hover,
.react-confirm-alert-button-group button:active,
.react-confirm-alert-button-group button:focus {
  opacity: 0.7 !important;
  /* background-color: rgb(0, 31, 81, 0.8) !important; */
}

.navbaritem {
  padding-left: "2%";
}

.loginForm {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 10%;
  border: 1px solid #001f51;
}

.formlabel {
  font-family: "Montserrat" !important;
  font-size: 12pt !important;
  color: #001f51;
  font-weight: bold !important;
}

.formInput {
  font-family: "Montserrat", sans-serif !important;
  font-size: 12px !important;
  color: #000 !important;
  border: 0;
}


.btn-custom-start {

   background-color: green !important;  

  width: 40px;
  height: 40px;
  border: 1px solid #fff; 
   border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;

}

.btn-custom-start :hover,
.btn-custom-start:active {
  opacity: 0.4 !important;
 
}


.btn-custom-stop {
   background-color: rgb(218, 28, 28) !important; 
  width: 40px;
  height: 40px;
  border: 1px solid #fff; 
   border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.btn-custom-stop :hover,
.btn-custom-stop:active {
  opacity: 0.4 !important;
 
}



.btn-custom {
  background-color: #80bc00 !important;
  border-radius: 4px !important;
  font-family: "Montserrat";
  font-size: 12pt !important;
  color: #fff !important;
  padding-left: 3% !important;
  padding-right: 3% !important;
  padding-top: 1% !important;
  padding-bottom: 1% !important;
  border: 1px solid #eee !important;
  vertical-align: middle;
  align-items: center;
  
}

.btn-custom:hover,
.btn-custom:active,
.btn-custom:focus {
  opacity: 0.8 !important;
}

.btn-custom_red {
  background-color: lightcoral !important;
  border-radius: 4px !important;
  font-family: "Montserrat";
  font-size: 12pt !important;
  color: #fff !important;
  padding-left: 5% !important;
  padding-right: 5% !important;
  padding-top: 2% !important;
  padding-bottom: 2% !important;
  border: 1px solid #001f51 !important;
  vertical-align: middle;
  align-items: center;
}

.btn-custom_red:hover,
.btn-custom_red:active,
.btn-custom_red:focus {
  opacity: 0.8 !important;
}

.btn-custom-white {
  background-color: #f8f8f8 !important;
  border-radius: 4px !important;
  font-family: "Montserrat";
  font-size: 12pt !important;
  color: #001f51 !important;
  padding-left: 10% !important;
  padding-right: 10% !important;
  padding-top: 2% !important;
  padding-bottom: 2% !important;
  border: 1px solid #001f51 !important;
}

.btn-white:hover,
.btn-white:active,
.btn-white:focus {
  background-color: #eeeeee;
}

.custom_big_title_line {
  margin: 0;
  padding: 0;
  border: 1px solid green;
  border-radius: 6px;
  background-color: #001f51 !important;
  border-width: 1px;
  border-color: #000;
  margin-right: 5%;
  font-family: "Montserrat";
  font-size: 12pt !important;
  color: #001f51 !important;
  padding-left: 2%;
  height: 20px;
}

.btn-custom_big {
  background-color: #fff !important;
  padding: 5%;
  padding-left: 5%;
  border-radius: 4px !important;
  border: 1px solid #001f51;
  font-family: "Montserrat";
  font-size: 12px !important;
  color: #001f51 !important;
  font-weight: bold;
  width: 200px !important;
  height: 100px !important;
  box-shadow: 1px 3px 4px 0.5px grey;
}

.btn-custom_big:hover,
.btn-custom_big:active,
.btn-custom_big:focus {
  opacity: 0.7 !important;
  background-color: rgb(0, 31, 81, 0.3) !important;
}

.btn-logout {
  background-color: #f8f8f8 !important;
  border-radius: 4px !important;
  font-family: "Montserrat";
  font-size: 10px !important;
  color: #001f51 !important;
  padding-left: 10% !important;
  padding-right: 10% !important;
  padding-top: 2% !important;
  padding-bottom: 2% !important;
  text-transform: uppercase;
  align-items: center;
  vertical-align: auto;
}

.offcanvas-header .btn-close {
  background-color: #fff !important;
  opacity: 100%;
  font-family: "Montserrat";
  font-size: 12pt !important;
  color: #fff !important;
}

.offcanvas-header .btn-close:hover {
  opacity: 70%;
}

.btn-logout:hover,
.btn-logout:active,
.btn-logout:focus {
  opacity: 0.8 !important;
}

.iconStop {
-webkit-animation: capulse 1s infinite linear 
}
@media (max-width: 575.98px) {} */

.user-profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: #49535e;
  color: #ffffff;
  font-family: "Montserrat" !important;
  font-size: 16pt;

  border-radius: 50%;
  font-weight: 800;
}
